@import "./theme";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.button {
  background-color: $color-primary;
  border: 1px black solid;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-hover;
  }
}

.error-button {
  background-color: $color-error;
  border: 1px $color-error solid;
  border-radius: 3px;

  color: $color-primary;

  &:hover {
    cursor: pointer;
    background-color: $color-error-hover;
  }
}

.main-menu-button {
  width: 55vw;
  height: 7.5vh;
  background-color: $color-primary;
  border: 1px black solid;
  border-radius: 15px;

  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-hover;
  }
}

.combo-box {
  border: 1px black solid;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  width: 75vw;

  padding: 20px;

  font-size: 24px;
  text-align: center;
}
