
.margin-small {
    margin-top: 3% !important;
}

.margin-medium {
    margin-top: 6% !important;
}

.margin-large {
    margin-top: 9% !important;
}

.margin-extra-large {
    margin-top: 12% !important;
}