$color-background: rgb(240, 240, 242);
$color-primary: #ffffff;
$color-primary-hover: #edeef1;
$color-secondary: #0446aa;
$color-secondary-hover: #0c5dd8;
$color-error: #c50000;
$color-error-hover: #920303;
