.modal {
  position: absolute;
  top: 100px;
  left: 8vw;

  width: 84vw;
  height: min-content;
  background-color: white;

  border: 1px black solid;
  border-radius: 8px;
}

.modal-button {
  width: 50vw;
  height: 6vh;
  font-size: 32px;
}


.model-image {
  width: 25vw !important;
  height: 25vw !important;
}

#score_chart {
  width: 100%;
  height: 40vh;
  margin: 60px;
  // padding: 100px;
}